<form class="login well form-group" name="form" ng-submit="login()">
  <h2>Log In</h2>
  <input class="form-control" name="email" type="email" placeholder="Email" ng-model="user.email" email><br>
  <input class="form-control" name="password" minlength="6" type="password" placeholder="Password" ng-model="user.password"><br>
  <input class="form-control" type="submit" class="btn btn-default" value="Log In"><br>
  <hr>
  <div ng-messages="form.email.$error" ng-if="form.email.$touched">
    <div ng-message="email" class="alert alert-danger validation">Your email is not a valid email</div>
  </div>

  <div ng-messages="form.password.$error" ng-if="form.password.$touched">
    <div ng-message="minlength" class="alert alert-danger validation">Your password should be a minimum of 6 characters</div>
  </div>
</form>
