<h1 class="ptfont" align="center">#{{category.category.title}}</h1>

<hr>

<div ng-repeat="post in category.category.posts">
  <div class="postpad well">
    <a href="" ui-sref="home.post({id: post.id})"><image src="{{ post.photo }}"></image></a><br>
    <table width="700px"><tr>
      <td><h4><a class="ptfont" href="" ui-sref="home.post({id: post.id})">{{ post.description }}</a></h4></td>
      <td><favorite ng-if="category.user" class="pull-right" post="post" user="category.user"></favorite></td>
    </tr></table>

    <h5 class="ptfont">{{post.comments.length}} COMMENTS</h5>

  </div>
</div>
