<form name="form" ng-submit="new.submit()">
  <input type="file" ng-model="new.post.photo" accept="image/*" base-sixty-four-input>
  Description: <input type="text" name="description" ng-model="new.post.description" required="required"><br>

  <select ng-model="new.post.category_ids" ng-options="category.title for category in new.categories">
    <option value="">Choose a Category</option>
  </select><br>
  Or, create a new category:
  <input type="text" ng-model="new.post.category"><br>
  <input type="submit" value="submit">

  <!-- VALIDATION FOR SUBMISSION -->
  <div ng-if="form.description.$touched">
    <div ng-if="form.description.$error.required" class="alert alert-danger validation">
      <h5 class="">Description Required</h5>
    </div>
  </div>
</form>
