<form name="form" class="form-group upload well" align="center" ng-submit="new.submit()">
  <h2 class="ptfont">upload</h2>

  <input class="upload well" type="file" ng-model="new.post.photo" accept="image/*" base-sixty-four-input>

  <div class="well">
    Description: <br>
    <input class="form-control" type="text" name="description" ng-model="new.post.description" required="required" minlength="10">
  </div>

  <select class="well" ng-model="new.post.category_ids" ng-options="category.title for category in new.categories">
    <option value="">Choose a Category</option>
  </select>

  <div class="well">
    Or, create a new category: <br><hr>
    <input class="form-control" type="text" ng-model="new.post.category"><br>
  </div>

  <div class-"well">
    <input class="btn" type="submit" value="submit">
  </div><br>

  <!-- VALIDATION FOR SUBMISSION -->
  <div ng-messages="form.description.$error" ng-if="form.description.$touched">
    <div ng-message="required" class="alert alert-danger validation">A description is required!</div>
    <div ng-message="minlength" class="alert alert-danger validation">Your description must be longer than 10 characters!</div>
  </div>

  <div ng-if="new.error" class="alert alert-danger validation">
    {{new.error}}
  </div>
</form>
