<div class="form-group search">
  <input class="form-control" ng-model="posts.search" placeholder="Search...">
</div>

<hr>

<div class="pills">
  <ul class="nav nav-pills">
    <li role="presentation" ng-repeat="category in posts.categories"><a ng-if="category.posts.length > 0" class="ptfont" href="" ui-sref="home.category({id: category.id})">{{category.title}}</a></li>
  </ul>
</div>

<hr>
<div ng-repeat="post in posts.posts | filter: posts.search">
  <div class="postpad well">
    <a href="" ui-sref="home.post({id: post.id})"><image src="{{ post.photo }}"></image></a><br>
    <table width="700px"><tr>
      <td><h4><a class="ptfont" href="" ui-sref="home.post({id: post.id})">{{ post.description }}</a></h4></td>
      <td><favorite ng-if="posts.user" class="pull-right" post="post" user="posts.user"></favorite></td>
    </tr></table>
    <h5 class="ptfont">{{post.comments.length}} COMMENTS</h5>
  </div>
</div>
