<div class="postpad well">
  <image src="{{post.post.photo}}"></image>
  <table width="700px"><tr>
    <td><h4 class="ptfont">{{post.post.description}}</h4></td>
    <td><favorite ng-if="post.user" class="pull-right" post="post.post" user="post.user"></favorite></td>
  </tr></table>
  <div class="ptfont well" ng-repeat="comment in post.post.comments">
    <table width="660px"><tr>
      <td><div >{{comment.content}}</div></td>
      <td class="pull-right"><div ng-repeat="commuser in post.commusers">
        <div ng-if="commuser.id === comment.user_id">
          <a href="" ui-sref="home.profile({id: commuser.id})">{{commuser.email}}</a>
        </div>
      </div></td>
    </tr></table>
  </div>

  <!-- ADD A COMMENT -->
  <div ng-show="signedIn()">
    <form name="form" ng-submit="post.newComment()">
      <input type="text" required="required" minlength="3" name="content" ng-model="post.comment.content"/>
      <input type="submit" value="add comment" class="btn btn-default ptfont"/>

      <br><br>

        <!-- VALIDATION FOR COMMENT SUBMISSION -->
        <div ng-messages="form.content.$error">
          <div ng-message="minlength" class="alert alert-danger validation ptfont">Must be longer than 3 characters!</div>
        </div>
    </form>
  </div>
</div>
