<div class="postpad well">
  <image src="{{post.post.photo}}"></image>
  <h4>{{post.post.description}}</h4>
  <favorite ng-if="post.user" post="post.post" user="post.user"></favorite>
  <div ng-repeat="comment in post.post.comments">
    {{comment.content}}
  </div>

  <!-- ADD A COMMENT -->
  <div ng-show="signedIn()">
    <form name="form" ng-submit="post.newComment()">
      <input type="text" required="required" minlength="3" name="content" ng-model="post.comment.content"/>
      <input type="submit" value="add comment" class="btn btn-default"/>

      <br><br>

        <!-- VALIDATION FOR COMMENT SUBMISSION -->
        <div ng-messages="form.content.$error">
          <div ng-message="minlength" class="alert alert-danger validation">Must be longer than 3 characters!</div>
        </div>
    </form>
  </div>
</div>
