<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#" ui-sref="home.posts">ANGULARGRAM</a>
    </div>
    <div ng-hide="signedIn()">
      <button class="btn btn-default navbar-btn  navbar-right" ui-sref="home.register">register</button>
      <button class="btn btn-default navbar-btn  navbar-right" ui-sref="home.login">login</button>
    </div>

    <div ng-show="signedIn()">
      <button class="btn btn-default navbar-btn navbar-right" ng-click="logout()">logout</button>
      <button class="btn btn-default navbar-btn navbar-right" ui-sref="home.profile({id: user.id})">{{user.email}}</button>
    </div>
  </div>
</nav>

<div ng-show="signedIn()">
  <div ui-view="posts"></div>
</div>

  <div ui-view></div>
