<nav class="navbar navbar-default ptfont">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="logo" href="#" ui-sref="home.posts" style="text-decoration:none;">Angulargram</a>
    </div>
    <div ng-hide="signedIn()">
      <button class="btn btn-default navbar-btn  navbar-right" ui-sref="home.register">register</button>
      <button class="btn btn-default navbar-btn  navbar-right" ui-sref="home.login">login</button>
    </div>

    <div ng-show="signedIn()">
      <button class="btn btn-default navbar-btn navbar-right" ng-click="logout()">logout</button>
      <button class="btn btn-default navbar-btn navbar-right" ui-sref="home.profile({id: user.id})">{{user.email}}</button>
    </div>
  </div>
</nav>

<div ng-show="signedIn()">
  <div ui-view="posts"></div>
  <div ui-view></div>
</div>

<div ng-hide="signedIn()">
  <div class="welcome well ptfont">
    Welcome to Angulargram. Please <a href="" ui-sref="home.register">register</a> or <a href="" ui-sref="home.login">login</a>.
  </div>
  <div ui-view="register"></div>
  <div ui-view="login"></div>
</div>
