<div ng-if="profile.currentUser.id === profile.user.id">
  <h1 class ="ptfont" align="center">Hello, {{profile.user.email}}</h1>
</div>

<div ng-if="profile.currentUser.id !== profile.user.id">
  <h1 class ="ptfont" align="center">{{profile.user.email}}</h1>
</div>

<div ng-if="profile.currentUser.id === profile.user.id">
  <hr>
  <div class="add-btn ptfont pills" align="center">
    <a href="" ui-sref="home.new" class="btn btn-default">Add a Photo</a>
    <a href="" ui-sref="home.favorites({id: profile.user.id})" class="btn btn-default">Favorites</a>
    <a href="" ui-sref="home.comments({id: profile.user.id})" class="btn btn-default">Comments</a>

  </div>
</div>

<hr>

<div ng-repeat="post in profile.posts">
  <div class="postpad well" ng-if="post">
    <a href="" ui-sref="home.post({id: post.id})"><image src="{{ post.photo }}"></image></a><br>
      <table width="700px"><tr>
        <td><h4><a class="ptfont" href="" ui-sref="home.post({id: post.id})">{{ post.description }}</a></h4></td>
        <td>
          <div ng-if="profile.currentUser.id === profile.user.id">
            <button class="btn ptfont pull-right" ui-sref="home.edit({id: post.id})">EDIT</button>
          </div>

          <div ng-if="profile.currentUser.id !== profile.user.id">
            <favorite ng-if="profile.user" class="pull-right" post="post" user="profile.user"></favorite>
          </div>
        </td>
      </tr></table>

      <div ng-if="profile.currentUser.id !== profile.user.id">
        <h5 class="ptfont">{{post.comments.length}} COMMENTS</h5>
      </div>
  </div>
</div>
